# Auto detect text files and perform LF normalization
* text=auto

# Force LF for shell scripts
*.sh text eol=lf

# Binary files
*.png binary
*.gif binary
*.jpg binary
*.ico binary
dist/index.js -diff
